main {
  width: 300px;
  margin: auto;
  mat-list {
    margin-bottom: 40px;
    mat-list-item {
      border-bottom: 2px solid #eee;
      button {
        display: none;
      }
      &:hover {
        button {
          display: inline-block;
        }
      }
    }
  }
  .top-tool {
    display: flex;
    justify-content: center;

    margin-top: 50px;
  }
}
